.breadcrumbs {
    padding: 6px 0;
    color: #ffffff;
    font-size: 1.25rem;
}

a.breadcrumbs__item {
    color: inherit;
}

span.breadcrumbs__item {
    color: rgba(255, 255, 255, 0.64);
}

.breadcrumbs__item {
    font-size: inherit;

    &:not(:last-child):after {
        content: '/';
        font-size: inherit;
        margin: 0 6px 0 12px;
        color: rgba(255, 255, 255, 0.4);
    }
}

@media only screen and (max-width: 599px) {
    // Todos os itens que não são os 2 últimos.
    .breadcrumbs__item:not(:nth-last-child(-n+2)) {
        display: none;
    }
}