$mdc-theme-primary: #212121;
$mdc-theme-secondary: #64dd17;
$mdc-theme-background: #fff; // White
// Third-party.
$mdc-theme-primary-dark: #111111;
$mdc-theme-primary-light: #6d6d6d;

// Material Design.
$md-color-green-500: #4caf50;
$md-color-blue-500: #2196f3;
$md-color-red-500: #f44336;
$md-color-amber-500: #ffc107;