// Helper aside
.helper-text {
  font-size: .75rem;
}

.helper-text--validation-msg {
  color: #d50000;
}

// Helper on text field
.mdc-text-field:not(.mdc-text-field--disabled) + .text-field-helper-text--validation-msg {
  color: #d50000;
}
